*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato';
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}  

.hed{
    height: 100px;
    width: 100%;
    background-color: #222533;
    opacity: 0.9;
    display: flex;
}

.hed .fx{
    width:40px;
    height:45px;
    margin-left: 375px;
    margin-top: 28px;
}

.hed p{
    padding-top: 45px;
    padding-left: 14px;
    margin-right: 37px;
}

.hed p .the{
    font-size: 35.69px;
    line-height: 13.77px;
    color:#FFFFFF;
    font-family: 'Lato';
    font-weight: normal;
}

.hed p .fox{
    font-size: 35.69px;
    line-height: 13.77px;
    color:#FFFFFF;
    font-family: 'Lato Black';
    font-weight: normal;
}

.hed a{
    font-size: 15.86px;
    line-height: 13.77px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 46px;
    padding-top:42px;
}

.hed a:hover{
    color:#1ABC9C;
    border-top:5px solid #1ABC9C;
    padding-top:37px;
}

.hed .icn{
    width: 28.53px;
    height: 28.61px;
    margin-top:36px;
    margin-left:41px;
}

.hed .icn2{
    width: 27px;
    height: 24px;
    margin-top:37px;
    margin-left:20px;
}

.hed2{
    width: 100%;
    height: 980px;
    background-color: #1A1C27;
    opacity: 0.7;
    position: relative;
}

.hed2 .frtxt{
    position: absolute;
    top:383px;
    left:600px;
}

.hed2 .we{
    font-family: 'Lato Black';
    font-size:90px;
    line-height: 60px;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.hed2 .fx{
    font-family: 'Lato Black';
    font-size:90px;
    line-height: 60px;
    color: #03FBCA;
    padding-left:15px;
}

.hed2 .sctxt{
    position: absolute;
    font-weight: lighter;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    left:650px;
    top: 456px;
}

.hed2 .lfrg1{
    width:50px;
    height: 50px;
    position: absolute;
    top: 415px;
    left: 50px;
    color: #FFFFFF;
    border:1px solid #FFFFFF;
}

.hed2 .lfrg2{
    width:50px;
    height: 50px;
    position: absolute;
    top: 415px;
    right: 32px;
    color:#FFFFFF;
    border:1px solid #FFFFFF;
}

.hed2 i{
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 10px;
    font-size:22px;
}

.lfrg1:hover{
    background-color: #03FBCA;
    border:none;
    color:#2C3E50;
}

.lfrg2:hover{
    background-color: #03FBCA;
    border:none;
    color:#2C3E50;
}

.hed2 .arrw{
    top: 935px;
    left: 49.7%;
    position: absolute;
    width: 28px;
}

.hed3{
    margin-left: 363px;
    margin-top: 89px;
    display: flex;
}

.hed3 h3{
    font-family: 'Lato Black';
    font-size:30px;
    line-height: 40px;
    letter-spacing: 3px !important;
    color:#2C3E50;
    font-weight: lighter;
}

.hed3 .inphd3{
    width: 570px;
    margin-top:2px;
    margin-left:17px;
}

.hed3 .inphd3 p{
    padding-top: 24px;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24px;
    color: #A1B1BC;
}

.hed3 .inphd3 p:first-of-type{
    padding-top: 14px;
}

.hed3 .uppr{
    text-transform: uppercase;
    width: 211px;
    height: 40px;
    border:2px solid #2C3E50;
    font-size:15px !important;
    font-weight: bold !important;
    line-height: 36px;
    letter-spacing: 1.3px;
    border-radius: 5px;
    color: #2C3E50 !important;
    margin-top: 26px;
    padding-top: 5px !important;
    padding-left: 40px !important
}

.hed4{
    width:100%;
    height: 360px;
    display: flex;
    margin-top: 79px;
}

.hed4 .qve1{
    flex-grow: 1;
    height: 100%;
    background-color: #4E459A;
}

.hed4 .qve2{
    width: 640px;
    height: 100%;
    background-color: #63D8FF
}

.hed4 .qve3{
    flex-grow: 1;
    height: 100%;
    background-color: #E36968
}

.hed4 h3{
    color:#FFFFFF;
    font-size:15px;
    line-height: 19px; 
    letter-spacing: 1.5px;
    font-family: 'Lato Black';
    margin-left: 80px;
    margin-top: 76px;
}

.hed4 p{
    color:#FFFFFF;
    font-size: 14px;
    line-height: 24px;
    width: 480px;
    margin-left: 80px;
    padding-top: 10px;
}

.hed4 input{
    width: 170px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 2px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 23px;
}

.hed5{
    width: 100%;
    height: 755px;
    position: relative;
}

.hed5 h2{
    margin-left:375px;
    margin-top: 90px;
    color: #2C3E50;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    font-family: 'Lato Black';  
}

.hed5 .txtt{
    width: 570px;
    margin-left: 375px;
}

.hed5 .txtt p{
    color:#A1B1BC;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 24px;
    padding-top: 24px;
}

.hed5 .txtt p:first-of-type{
    padding-top: 14px;
}

.hed5 ul{
    list-style-type: none;
    width: 368px;
    margin-top:22px;
    margin-bottom: 28px;
}

.hed5 li{
    color:#A1B1BC;
    font-size:14px;
    line-height: 39px;
    letter-spacing: 0.7px;
    border-bottom: 1px solid #ECF0F1;
}

.hed5 li:last-child{
    border-bottom: none;
}

.hed5 i{
    padding-right: 18px;
    color: #2C3E50;
}

.hed5 input{
    width: 181px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #2C3E50;
    border-radius: 5px;
    color: #2C3E50;
    font-size:15px; 
    line-height: 36px;
    letter-spacing: 0.9px;
    font-weight: bold;
}

.hed5 img{
    position: absolute;
    top: -89px;
}

.hed6{
    width: 100%;
    height: 627px;
    background-color: #222533;
}

.hed6 h1{
    font-family: 'Lato Black';
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 3px;
    color:#FFFFFF;
    padding-top: 140px;
    padding-left: 818.5px;
}

.hed6 div{
    width: 110px;
    height: 110px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    border-radius: 50%;    
    display: inline-block;
    margin-top:61px;
    
}

.hed6 div i{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.35px;
    color: #2C3E50;
    text-align: center;
    padding-left: 35px;
    padding-top: 25px;
}

.hed6 p{
    color:#FFFFFF;
    font-size:36px;
    line-height: 50px;
    display: inline-block;
    padding-top: 37px;
}

.cir1{
    margin-left: 455px;
}

.cir2, .cir3, .cir4{
    margin-left: 186px;
}

.text1{
    padding-left: 451px;
    letter-spacing: 1.6px;
}

.text2{
    padding-left: 174px;
    letter-spacing: 1.6px;
}

.text3{
    padding-left: 147px;
    letter-spacing: 1.6px;
}

.text4{
    padding-left: 175px;
    letter-spacing: 1.6px;
}

.text1::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text2::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text3::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: 0 auto;
    margin-top: 7px;
}

.text4::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: #21C2F8;
    color: #21C2F8;
    display: block;
    margin: auto;
    margin-top: 7px;
}

.text5, .text6, .text7, .text8{
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 18px !important;
    line-height: 45px !important;
    padding-top: 0px !important;
}

.text5{
    padding-left: 464px;
}

.text6{
    padding-left: 191px;
}

.text7{
    padding-left: 172px;
}

.text8{
    padding-left: 161px;
}

.hed7{
    width: 100%;
    height: 525px;
    display: flex;
}

.hed7 h2{
    font-family: 'Lato Black';
    font-size: 30px;
    line-height: 40px;
    color: #2C3E50;
    letter-spacing: 3px;
}

.dvv1{
    width: 570px;
    display: inline-block;
    margin-left: 374.5px;
    margin-top: 90px;
}

.ins1{
    height: 40px;
    border: 1px solid #E5E5E5;
    margin-top: 42px;
    background-color: #F5F7F8;
}

.ins1 p{
    display: inline-block;
    color:#2C3E50;
    font-size: 14.5px;
    line-height: 21px;
    letter-spacing: 1.2px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
    width: 200px;
    margin-right: 326px;
}

.chld{
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    border-left: 1px solid #E5E5E5;
}

.arl{
    font-family: Arial, Helvetica, sans-serif;
    color: #999999 !important;
    font-size: 17px !important;
    font-weight: normal !important;
    line-height: 20px;
    padding-top: 11px;
    padding-left: 9px !important;
}

.ins2{
    height: 40px;
    border: 1px solid #E5E5E5;
    margin-top: 7px;
    background-color: #FFFFFF;
}

.chld1{
    display: inline-block;
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    border-left: 1px solid #E5E5E5;
}

.arl1{
    font-family: Arial, Helvetica, sans-serif;
    color:#999999 !important;
    font-size: 17px !important;
    font-weight: normal !important;
    line-height: 20px;
    padding-top: 11px;
    padding-left: 9px !important;
}

.ins2 p{
    display: inline-block;
    color:#1ABC9C;
    font-size: 14.5px;
    line-height: 21px;
    letter-spacing: 1.2px;
    font-weight: bold;
    padding-left: 14px;
    padding-top: 8.5px;
    width: 200px;
    margin-right: 326px;
}

.ins3{
    height: 121px;
    border: 1px solid #E5E5E5;
    border-top:none;
    padding-top: 21px;
    display: flex;
}

.chlchl{
    width:150px;
    height: 80px;
    background-color: #CCCCCC;
    margin-top: -1px;
    margin-left: 19px;
}

.ins3 p{
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    width: 358px;
    margin-top: -8px;
    padding-left: 18.5px;
}

.ins4{
    height: 40px;
    border: 1px solid #E5E5E5;
    margin-top: 6px;
    background-color: #F5F7F8;
}

.ins4 p{
    display: inline-block;
    color:#2C3E50;
    font-size: 14.5px;
    line-height: 21px;
    letter-spacing: 1.2px;
    font-weight: bold;
    padding-left: 14px;
    padding-top: 10px;
    width: 200px;
    margin-right: 166px;
}

.ins4 p{
    width: 360px;
}

.dvv2{
    width: 580px;
    height: 336px;
    display: inline-block;
    margin-top: 90px;
    margin-left: 30px;
    position: relative;
}

.dvv2 h2{
    margin-bottom: 29px;
}

.dvv2 p{
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 1.4px;
    color: #2C3E50;
    font-weight: bold;  
    padding-left: 1px;
}

.dvv2 img{
    margin-top: -3px;
    margin-bottom: 15px;
}

.dvv2 p span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #4E4E4E;
    font-weight: normal;
    letter-spacing: 0.1px;
}

.fa1{
    margin-left: 380px;
    margin-bottom: -1px;
}

.fa2{
    margin-left:439px;
}

.fa3{
    margin-left:444px;
}

.fa4{
    margin-left:415px;
}

.hed8{
    width: 100%;
    height: 1436px;
    background-color:#F9FAFB;
    border-top:1px solid #EBEBEB;
}

.hed8 h2{
    padding-top: 91px;
    font-size: 30px;
    font-weight: 'Lato Black';
    font-weight: bold;
    color: #2C3E50;
    line-height: 40px;
    letter-spacing: 3.1px;
    padding-left: 735px;    
}

.p8{
    color:#A1B1BC;
    font-size:18px;
    line-height: 60px;
    letter-spacing: 0.9px;
    padding-left:681px;
    margin-top: -12px !important;
}

.bloki{
    margin-left:375px;
    margin-top:47px;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bl1 bl2 bl3 bl4"
                         "bl5 bl6 bl7 bl8";
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 539px 539px;
}

.bloki div{
    background-color: #FFFFFF;
    border: 1px solid #ECF0F1;
}

.bl1{
    grid-area: bl1;
}

.bl2{
    grid-area: bl2;
}

.bl3{
    grid-area: bl3;
}

.bl4{
    grid-area: bl4;
}

.bl5{
    grid-area: bl5;
}

.bl6{
    grid-area: bl6;
}

.bl7{
    grid-area: bl7;
}

.bl8{
    grid-area: bl8;
}

.hed8 .chb{
    width: 100%;
    height: 269px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ECF0F1;
}

.hed8 .hp8{
    padding-top:14px;
    padding-left: 19px;
    color: #2C3E50;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    font-family: 'Lato Black';
    margin-bottom: 2px;
}   

.hed8 .hp82{
    padding-top:14px;
    padding-left: 19px;
    color: #2C3E50;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px;
    font-family: 'Lato Black';
    word-spacing: 5px;
    margin-bottom: 2px;
}

.hed8 span{
    color: #A1B1BC;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.4px;
    padding-left: 19px;
}

.hed8 span::after{
    content: '';
    background-color: #A1B1BC;
    color: #A1B1BC;
    width:230px;
    height: 1px;
    display: inline-block;
    opacity: 0.3;
    margin-left: 20px;
    margin-top: -4px;
}

.hed8 .txt8{
    font-size: 14px;
    color: #A1B1BC;
    line-height: 24px;
    letter-spacing: 0.7px;
    padding-top: 7px;
    padding-left: 19px;
    width: 243px;
}

.hed8 a{
    text-decoration: none;
}

.hed8 a p{
    margin-top:17px;
    margin-left: 19px;
    width: 230px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #2C3E50;
    border-radius: 5px;
    color: #2C3E50;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 1.5px;
    text-align: center;
}

.hed8 a:hover p{
    padding-top:2px;
    background-color: #1ABC9C;
    border:none;
    color:#FFFFFF;
}

.hed9{
    width: 100%;
    height: 600px;
    background-color: #2C3E50;
    position: relative;
}

.hed9 p{
    text-align: center;
    font-family: 'Lato Black';
    font-size:24px;
    line-height: 40px;
    color: #FFFFFF;
    width: 1170px;
}

.hed9 .hd9d{
    padding-left: 374px;
    padding-top: 210px;
}

.lstp{
    margin-bottom: 32px;
}

.hed9 .hd9d span{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    padding-left: 433px;    
    word-spacing: 12px;
}

.ic91{
    position: absolute;
    width: 50px;
    height: 80px;
    background-color:rgba(0, 0, 0, 0.5);
    left: 0px;
    top:260px;
}

.ic92{
    position: absolute;
    width: 50px;
    height: 80px;
    background-color:rgba(0, 0, 0, 0.5);
    right: 0px;
    top:260px;
}

.hed9 i{
    color:white;
    font-size: 14px; 
    padding-left: 17.5px;
    padding-top: 35px;
}

.circle{
    margin-left: 928px;
    margin-top: 148px;
    display: inline-block;
}

.circle div{
    width:10px;
    height:10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-left:7px;
}

.cr2{
    background-color: #1ADFB8 !important;
}

.hed10{
    width:100%;
    height: 708.5px;
    background-color: #1A1C27;
}

.hed10 .man{
    display: grid;
    padding-left: 375px;
    padding-top: 78px;
    grid-template-areas: "fin1 fin2 fin3 fin4";
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 550px;
    grid-gap: 28px;
}

.hed10 .fin1 .scrt{
    display: flex;
    margin-bottom: 14px;
}

.hed10 .fx{
    width:40px;
    height:45px;
    margin-top:4px;
}   

.hed10 .fin1 .ponl{
    padding-top: 20px;
    padding-left: 14px;
    height: 60px;
}

.hed10 .ponl .the{
    font-size: 35.69px;
    line-height: 13.77px;
    color:#FFFFFF;
    font-family: 'Lato';
    font-weight: normal;
}

.hed10 .ponl .fox{
    font-size: 35.69px;
    line-height: 13.77px;
    color:#FFFFFF;
    font-family: 'Lato Black';
    font-weight: normal;
}

.hed10 .fin1 p{
    width: 268px;
    color:#758590;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 24px;
}

.hed10 .fin1 a{
    text-decoration: none;
    color: #1ABC9C;
    font-size:14px;
    line-height: 20px;
}

.hed10 .m1{
    display: flex;
}

.hed10 .fin2{
    position: relative;
}

.sep5{
    width: 100%;
    position: absolute;
    border-top: 1px solid #243240;
    top: 207px;
    margin-left: 3px;
}

.sep6{
    width: 100%;
    position: absolute;
    border-top: 1px solid #243240;
    top: 349px;
    margin-left: 3px;
}

.hed10 .fin2 h2{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 1.9px;
    padding-top: 9px;
}

.hed10 .fin2 a{
    text-decoration: none;
}

.hed10 .m1{
    margin-top:24px;
    margin-left: 2px;
    width: 52px;
    height: 118px;
    float: left;
}


.hed10 .fin2 .m1 a div{
    width: 50px;
    height: 50px;
    background-color: #959595;
} 

.hed10 .fin2 .m1 a div p{
    font-size:30px;
    color:#959595;
    width: 50px;
}

.hed10 .fin2 h3{
    font-size: 16px;
    color: #A1B1BC;
    line-height: 48px;
    padding-left: 72px;
    padding-top: 5px;
}

.hed10 .fin2 p{
    color: #758590;
    line-height: 24px;
    font-size: 14px;
    padding-left: 72px;
    margin-top: -9px;
}

.hed10 .fin2 span{
    padding-left: 18px;
    color: #A1B1BC;
    font-size: 13px;
    line-height: 24px;
}

.only{
    padding: 0 !important;
    margin: 0 !important;
    padding-top: 12px !important;
}

.fin2 .mtl a:hover div{
    background-color: #1ABC9C;
}

.fin2 .mtl a:hover p{
    color: #FFFFFF !important;
    font-size: 30px;
    text-align: center;
}

.hed10 .fin3 h2{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 1.9px;
    padding-top: 9px;
    padding-left: 2px;
}

.blocks{
    display: flex;
}

.blc1{
    width:80px;
    height: 40px;
    border: 1px solid #A1B1BC;
}

.blc2{
    width:80px;
    height: 40px;
    border: 1px solid #A1B1BC;
    margin-left: 10px;
}

.blc3{
    width:85px;
    height: 40px;
    border: 1px solid #A1B1BC;
    margin-left: 10px;
}

.blc4{
    width:50px;
    height: 40px;
    border: 1px solid #A1B1BC;
}

.blc5{
    width:98px;
    height: 40px;
    border: 1px solid #A1B1BC;
    margin-left: 10px;
}

.blc6{
    width:69px;
    height: 40px;
    border: 1px solid #A1B1BC;
    margin-left: 10px;
}

.blocks p{
    color: #A1B1BC;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
}

.blocks div:hover{
    background-color: #1ABC9C;
    border: none;
}

.blocks div:hover p{
    color: #FFFFFF;
    padding-top: 2px;
}

.fin3 ul {
    list-style: none;
    margin-left: 3px;
    padding-top: 3px;
    width: 269px;
}

.fin3 li{
    color: #A1B1BC;
    font-size: 14px;
    line-height: 34px;
    padding-bottom: 5px;
    position: relative;
    padding-left: 16px;
    border-top: none;
    border-bottom: 1px solid #243240;
    border-left: none;
    border-right: none;
}

.fin3 li:last-of-type{
    border: none;
}

.fin3 li i{
    position: absolute;
    font-size: 5px;
    color:#1ABC9C;
    top: 15px;  
    left: 0px;
    padding-right: 12px;
}

.fin3 li:hover{
    color: #1ABC9C;
}

.fin3 li:hover i{
    color: #FFFFFF;
}

.hed11{
    width:100%;
    height: 82px;
    background-color: #222533;
    border: 1px solid #282B39;
    display: flex;
}

.hed10 .fin4 h2{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 1.9px;
    padding-top: 9px;
    padding-left: 4px;
}

.fin4 h4{
    color: #A1B1BC;
    font-size: 16px;
    line-height: 48px;
}

.fin4 p{
    color: #758590;
    font-size: 14px;
    line-height: 24px;
}

.chng{
    margin-left: 5px;
    margin-top: 5px;
}

.sep4{
    border-top: 1px solid #243240;
}

.hed11 p:first-of-type{
    margin-left: 374px;
    
}

.hed11 p{
    color:#A1B1BC;
    font-size: 14px;
    line-height: 19px;
    padding-top: 30px;
}

.hed11 p span{
    color:#1ABC9C;
}

.fx11c{
    font-family: 'Lato Black';
}

.sep{
    margin-left: 8px;
    margin-right: 8px;
    color:#304253 !important;
}

.hed11 p:last-of-type{
    padding-right: 52px;
}

.hed11 a{
    color:#A1B1BC;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 27px;
    padding-top: 30px;
}

.hed11 a:hover{
    color: #1ABC9C;
}